@use 'styles/variables' as var;
@use 'styles/mixins';

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 104px;

  margin: 24px auto 0;
  margin-bottom: var.$padding-bottom-menu + var.$height-bottom-menu + 20px;
  max-width: 880px;

  &__addresses {
    @include mixins.profileSettings();
  }

  &__addresses-open {
    @include mixins.centerItems(space-between, center);

    width: 100%;

    background-color: transparent;
    border: none;
  
    @include mixins.fontSubtitle2Bold();

    cursor: pointer;

    &:hover path {
      fill: var.$color-text-button;
    }

    &:hover {
      color: var.$color-text-button;
    }
  }

  &__title {
    padding: 16px;

    @include mixins.fontSubtitle2Bold();
  }

  &__actions {
    @include mixins.centerItems(flex-end, center);

    margin-top: 16px;
  }
}