@use 'styles/variables' as var;
@use 'styles/mixins';

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 104px;

  margin: 24px auto 0;
  margin-bottom: var.$padding-bottom-menu + var.$height-bottom-menu + 20px;
  max-width: 880px;

  &__user {
    @include mixins.centerItems(flex-start, center);
    flex-direction: column;
  }

  &__photo {
    @include mixins.userPhoto(222px);
  }

  &__info {
    width: max-content;
    text-align: center;
  }

  &__username {
    margin-top: 16px;

    @include mixins.fontH1();
    color: var.$color-text-main;
    letter-spacing: 0.15px;
  }

  &__status {
    margin-top: 8px;

    @include mixins.fontCaption();
    color: var.$color-text-main;
    letter-spacing: 0.4px;
  }

  &__phone {
    margin-top: 4px;

    @include mixins.fontSubtitle2Bold();
    color: var.$color-text-main;
    letter-spacing: 0.15px;
  }

  &__settings, &__addresses {
    @include mixins.profileSettings();
  }

  &__addresses-open {
    @include mixins.centerItems(space-between, center);

    width: 100%;

    background-color: transparent;
    border: none;
  
    @include mixins.fontSubtitle2Bold();

    cursor: pointer;

    &:hover path {
      fill: var.$color-text-button;
    }

    &:hover {
      color: var.$color-text-button;
    }
  }

  &__title {
    padding: 16px;

    @include mixins.fontSubtitle2Bold();
  }

  &__settings {
    margin-top: 0;
  }

  &__link {
    @include mixins.profileField();

    &--delete {
      @include mixins.centerItems(space-between, center);

      width: 100%;
      height: 100%;
      padding: 0;

      @include mixins.fontBody();
      letter-spacing: 0.25px;
      color: var.$color-text-main;

      &:hover{
        color: var.$color-text-button;
      }
    }
  }

  &__add-address {
    @include mixins.centerItems(space-between, center);

    width: 100%;

    background-color: transparent;
    border: none;
  
    @include mixins.fontSubtitle2Bold();

    cursor: pointer;

    &:hover path {
      fill: var.$color-text-button;
    }

    &:hover {
      color: var.$color-text-button;
    }
  }

  &__address {
    width: 100%;
    height: 60%;
    padding: 0 16px;

    border: none;

    @include mixins.fontSubtitle1();
    color: var.$color-text-button;

    &:focus {
      outline: none;
      border-bottom: 1px solid var.$color-line;
    }
  }

  &__actions {
    @include mixins.centerItems(space-between, center);

    margin-top: 16px;
  }
}