// FONT FAMILIES
$font-family-main: 'Roboto', 'sans-serif';

// FONT SIZES
$font-size-xl: 34px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

// FONT WEIGHTS
$font-weight-regular: normal;
$font-weight-medium: bold;

// COLORS
$color-primary: #131316;
$color-secondary: #AAADB3;
$color-text-contrast: #FFFFFF;
$color-text-main: #1E1E1E;
$color-text-secondary: #8C8C8C;
$color-text-primary: #000000;
$color-text-button: #6200EE;
$color-icons-inactive: #C2C2C2;
$color-error: #FF0000;
$color-line: #EDEDED;
$color-modal-background: #1E1E1E90;

// WIDTHS
$width-main: 306px;

// HEIGHT
$height-bottom-menu: 75px;
$padding-bottom-menu: 18px;

// Z-INDEX
$index-modal: 1;
$index-image: 0;
$index-image-button: 1;
$index-timepicker-arrow: 1;
$index-status-circle: 1;

// TRANSITION TIME
$transition-main: 0.3s;
$transition-long: 0.5s;

// BOX-SHADOW
$shadow-main: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
