@use 'styles/variables' as var;
@use 'styles/mixins';

.edit-categories {
  @include mixins.centerItems(space-between, flex-end);

  &__box {
    display: grid;

    width: var.$width-main;
  }

  &__select {
    max-width: var.$width-main;
  }

  &__label {
    @include mixins.productEditLabel();
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-bottom: 9px;
  }
}
