@use 'styles/variables' as var;
@use 'styles/mixins';

.icons {
  display: flex;
  column-gap: 20px;
  margin-right: 40px;

  &__icon {
    position: relative;

    @include mixins.centerItems(center, center);

    width: 35px;
    padding: 0;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;

    transition: border var.$transition-long;

    cursor: pointer;

    path {
      fill: var.$color-text-secondary;
    }

    &:hover path {
      fill: var.$color-text-contrast;
    }
  }

  &__amount {
    position: absolute;
    top: -5px;
    left: 17px;

    @include mixins.square(18px);
    border-radius: 50%;

    background-color: var.$color-text-button;

    color: var.$color-text-contrast;
    text-align: center;
    line-height: 19px;
    @include mixins.fontNotifications();
  }
}