@use 'styles/variables' as var;
@use 'styles/mixins';

.product {
  &__info-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-content: space-between;

    margin-top: 36px;
  }

  &__image {
    @include mixins.square(var.$width-main);

    object-fit: cover;
  }

  &__line {
    width: 80%;
    margin-top: 70px;

    @include mixins.line();
  }
}
