@use 'styles/variables' as var;
@use 'styles/mixins';

.container-card {
  display: grid;
  place-items: center;
}

.card {
  width: 226px;
  height: 391px;

  color: var.$color-primary;

  box-shadow: var.$shadow-main;

  transition: box-shadow 0.4s;

  &:hover {
    -webkit-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.38); 
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.38);
  }

  &__content {
    @include mixins.centerItems(center, center);
    flex-direction: column;
  }

  &__image {
    @include mixins.square(206px);
    margin-top: 10px;

    object-fit: cover;
  }

  &__main-info {
    box-sizing: border-box;
    align-self: flex-start;

    padding: 0 10px;
    margin: 18px 0 12px 0;
    width: 100%;
    max-width: 216px;
    overflow: hidden;
  }

  &__title {
    @include mixins.fontButton();
    text-transform: none;
    color: var.$color-primary;
  }

  &__description {
    height: 40px;
    margin-top: 4px;

    @include mixins.fontBody();
    color: var.$color-secondary;
  }

  &__info {
    @include mixins.centerItems(space-around, center);

    margin-top: 5px;
  }

  &__price, &__weight {
    @include mixins.fontH2();
    color: var.$color-primary;
  }
}
