@use 'styles/variables' as var;
@use 'styles/mixins';

.edit-user-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__photo {
    margin-top: 50px;

    @include mixins.userPhoto(226px);
  }

  &__fields {
    @include mixins.centerItems(space-between, center);
    flex-direction: column;
  }

  &__form {
    @include mixins.centerItems(space-between, center);
    flex-direction: column;
    row-gap: 24px;
  }

  &__form-label {
    @include mixins.centerItems(space-between, flex-start);
    flex-direction: column;
    row-gap: 8px;
  }

  &__form-submit {
    margin-top: 42px;
  }
}
