@use 'styles/variables' as var;
@use 'styles/mixins';

.edit-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var.$index-modal;

  @include mixins.centerItems(center, center);

  width: 100%;
  height: 100vh;

  background-color: var.$color-modal-background;

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mixins.modalSize();
    padding: 24px;

    background-color: var.$color-text-contrast;
    opacity: 1;
  }

  &__success {
    display: grid;

    padding: 20px;
    width: 500px;
    height: 300px;

    background-color: var.$color-text-contrast;
    text-align: center;

    &--close {
      justify-self: flex-end;
      height: max-content;

      &:hover path {
        fill: var.$color-text-button;
      }
    }
  }

  &__title {
    @include mixins.fontH1();
  }

  &__photo {
    @include mixins.userPhoto(226px);
  }

  &__close {
    position: relative;
    left: 42%;

    &:hover path {
      fill: var.$color-text-button;
    }
  }

  &__fields {
    @include mixins.centerItems(space-between, center);
    flex-direction: column;
  }

  &__form {
    @include mixins.centerItems(space-between, center);
    flex-direction: column;
    row-gap: 24px;
  }

  &__form-label {
    @include mixins.centerItems(space-between, flex-start);
    flex-direction: column;
    row-gap: 8px;
  }

  &__form-submit {
    margin-top: 42px;
  }
}
