@use 'styles/variables' as var;
@use 'styles/mixins';

.time-picker {
  position: relative;

  &__decrease {
    @include mixins.timePickerArrows();
    left: 10px;

    transform: rotate(180deg);
  }

  &__increase {
    @include mixins.timePickerArrows();
    right: 10px;
  }

  &__picker {
    width: 156px;

    & .MuiInputBase-input {
      text-align: center;
      padding-right: 0;
    }
  }
}