@use 'styles/variables' as var;
@use 'styles/mixins';

.mark {
  &__rating {
    &--on {
      background-image: url(../../../../assets/icons/star.svg);
    }
  
    &--off {
      background-image: url(../../../../assets/icons/star-empty.svg);
    }
  }

  &__button {
    padding: 0;
    margin-right: 4px;
  
    background-repeat: no-repeat;
    background-size: contain;
  
    @include mixins.square(16px);

    &:hover {
      background-image: url(../../../../assets/icons/start-half.svg);
    }
  }

  &__button-disabled {
    padding: 0;
    margin-right: 4px;
  
    background-repeat: no-repeat;
    background-size: contain;
  
    @include mixins.square(16px);

    cursor: auto;
  }
}
