@use 'styles/variables' as var;
@use 'styles/mixins';

.edit-image {
  &__image {
    @include mixins.square(var.$width-main);

    object-fit: cover;
  }

  &__input {
    display: none;
  }

  &__button {
    @include mixins.centerItems(center, center);

    width: 274px;
    padding: 16px;
  
    @include mixins.fontButton();
    line-height: 14px;
    letter-spacing: 1.25px;
    color: var.$color-text-button;
  
    transition: all var.$transition-main;
  
    cursor: pointer;

    &:hover {
      color: var.$color-text-primary;
    }
  }
}
