.product-list {
  display: grid;
  grid-template-columns: repeat(3, 226px);
  gap: 21px;
  align-content: start;

  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}