@use 'styles/variables' as var;
@use 'styles/mixins';

.date {
  margin-top: 10px;

  & .MuiTypography-root {
    @include mixins.fontBody();
  }

  @include mixins.orderSelection();

  & .MuiInputBase-input {
    @include mixins.fontBody();
    font-weight: var.$font-weight-medium;
    letter-spacing: 0.1px;
  }
}