@use 'styles/variables' as var;
@use 'styles/mixins';

.header {
  position: sticky;

  @include mixins.centerItems(center, center);

  width: 100%;
  height: 76px;
  background-color: var.$color-primary;

  &__container {
    max-width: 1200px;
  }

  &__container-menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__left-menu, &__right-menu {
    @include mixins.centerItems(center, center);
  }

  &__right-menu {
    justify-content: flex-end;
  }

  &__logo {
    width: 126px;
    margin-right: 50px;
  }

  &__icons {
    display: flex;
    column-gap: 20px;
    margin-right: 40px;
  }

  &__icon {
    @include mixins.centerItems(center, center);

    width: 35px;
    padding: 0;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;

    transition: border 0.5;

    cursor: pointer;

    path {
      fill: var.$color-text-secondary;
    }

    &:hover path {
      fill: var.$color-text-contrast;
    }
  }

  &__form {
    position: relative;
  }

  &__user-info {
    @include mixins.centerItems(center, center);

    column-gap: 16px;

    &--text {
      text-align: end;
    }

    &--photo {
      @include mixins.centerItems(center, center);

      width: 48px;
      height: 48px;

      border-radius: 50%;
      background-color: var.$color-text-secondary;

      @include mixins.fontCaption();
      color: var.$color-text-contrast;
    }
  }

  &__user-status {
    @include mixins.fontCaption();
    color: var.$color-text-secondary;
  }

  &__user-name {
    @include mixins.fontSubtitle2Bold();
    color: var.$color-text-secondary;
  }
}