@use 'styles/variables' as var;
@use 'styles/mixins';

.success {
  display: grid;

  width: 500px;
  height: 300px;
  padding: 20px;
  margin-top: 20px;

  background-color: var.$color-text-contrast;
  text-align: center;

  &__title {
    @include mixins.fontH1();
  }

  &--close {
    justify-self: flex-end;
    height: max-content;

    &:hover path {
      fill: var.$color-text-button;
    }
  }
}