@use 'styles/variables' as var;
@use 'styles/mixins';

.product-page {
  max-width: 960px;
  margin: 0 auto;

  &--util {
    display: grid;
    place-items: center;
    margin-top: 140px;
  }
}
