@use 'styles/variables' as var;
@use 'styles/mixins';

.delete-product {
  position: absolute;
  top: -46px;
  z-index: var.$index-modal;

  display: grid;
  place-items: center;
  padding: 16px;
  width: max-content;
  max-width: 277px;

  background-color: var.$color-text-contrast;

  border: 2px solid var.$color-error;

  text-align: center;

  &__text {
    @include mixins.fontSubtitle2Bold();
  }

  &--card {
    top: -73px;
    max-width: 191px;
  }
}