@use 'styles/variables' as var;
@use 'styles/mixins';

.auth-form {
  &__form-field {
    position: relative;
  }

  &__input {
    margin-top: 30px;

    &:last-of-type {
      margin-top: 20px;
    }
  }

  &__button {
    margin-top: 40px;
    &:last-of-type {
      @include mixins.centerItems(center, center);

      margin-top: 24px;
    }
  }

  &__error {
    color: var.$color-error;
  }
}