@use 'styles/variables' as var;
@use 'styles/mixins';

.header-auth {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 74px;
  width: 100%;
  margin: 0;

  background-color: var.$color-text-primary;

  &__text {
    margin: 0;

    @include mixins.fontSubtitle1Bold();
    letter-spacing: 0.15px;
    color: var.$color-text-contrast;
  }
}