@use 'styles/variables' as var;
@use 'styles/mixins';

.auth {
  @include mixins.centerItems(center, center);
  flex-direction: column;

  padding-top: 120px;

  &__links {
    @include mixins.centerItems(space-between, center);

    width: var.$width-main;
    padding: 0;
    margin-top: 17px;
  }
}
