@use 'styles/mixins';

.main {
  &__container {
    height: 100vh;
    margin: 24px auto;
    max-width: 960px;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;

    margin-top: 42px;
  }

  &__top-menu {
    @include mixins.centerItems(space-between, end);

    width: 100%;
  }

  &__buttons {
    display: flex;
    column-gap: 16px;
  }
}