@use 'styles/mixins';
@use 'styles/variables' as var;

.button {
  @include mixins.centerItems(center, center);
  gap: 10px;

  width: var.$width-main;
  padding: 16px;

  background-color: var.$color-primary;

  border: 1px solid var.$color-primary;
  border-radius: 4px;

  @include mixins.fontButton();
  line-height: 14px;
  letter-spacing: 1.25px;
  color: var.$color-text-contrast;

  transition: all var.$transition-main;

  cursor: pointer;

  &:hover {
    background-color: var.$color-text-contrast;
    color: var.$color-text-primary;
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid transparent;

    color: var.$color-text-button;

    &:hover {
      background-color: transparent;
      border: 1px solid transparent;
      text-decoration: underline;
    }
  }

  &--small {
    width: 194px;
    padding: 10px;
  }

  &--super-small {
    width: max-content;
    padding: 10px;

    font-size: var.$font-size-xxs;
  }

  &--active {
    background-color: transparent;
    color: var.$color-primary;
  }
  
  &:disabled {
    background-color: var.$color-secondary;
    border-color: transparent;
    color: var.$color-text-contrast;

    cursor: not-allowed;
  }
}
